body {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: black;
    color: white;

}



@keyframes flashing {
    0% {
        background-color: red
    }

    ;

    25% {
        background-color: blue
    }

    ;

    50% {
        background-color: pink
    }

    ;

    75% {
        background-color: orange
    }

    ;

    100% {
        background-color: yellow
    }

    ;
}

#header {
    animation: flashing;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    font-size: 4em;
    text-align: center;

}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 200px 200px;
    justify-content: space-around;
    grid-gap: 75px;

}

.container .description {
    text-align: center;
    grid-area: 1 / 1 / span 1 / span 2;
}

.container .favorite {
    text-align: center;
    grid-area: 2/2/span 1/span 1;
    list-style: none;
}

.container .contacts {
    text-align: center;
    grid-area: 2/1/span 1/span 1;

}

.container .contacts ul {
    list-style: none;
}

.container .favorite ul {
    list-style: none;
}

.random p{
    position: absolute;
    top: 750px;
    left: 750px;
    background-color: yellow;
    height: 150px;
    width: 200px;
    margin-bottom: 30px;
}

.random img{
    position: relative;
    top: 230px;
    left: 600px;
}